@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #2C2A2A;
    box-sizing: border-box;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    transition: transform 0.3s ease-out;
}



/*-------------- Header -----------------*/
header {
    box-shadow: 1px 1px 1px solid;
    font-family: "Quicksand", serif;
    font-weight: 900;
    font-style: normal;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

/*-------------- Primeira seção (Apresentação) -----------------*/
.page-information {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.img-information {
    background-color: #aaa;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.img-information img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-information {
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: white;
}

.information-name {
    margin: 0 0 5px;
    font-family: "Quicksand", serif;
    font-weight: bold;
}

.information-student {
    margin: 0 0 5px;
    font-family: "Marvel", serif;
    font-weight: 400;
}

.information-cite {
    margin-top: 20px;
    font-family: "Marvel", serif;
    font-weight: 400;
}

/* ------ Segunda Seção (Skills) ------*/
.skills {
    width: 100%;
    display: flex;
    padding: 7rem 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline-skills {
    text-align: center;
    font-family: "Quicksand", serif;
}

.headline-skills h2 {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

.headline-skills p {
    margin-bottom: 2rem;
}

.conteudo-skills {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
}

.img-skills {
    width: 50px;
    height: 50px;
}